#header {
    background: #9fc3ff;
    padding: 10px;
    display: flex;
    align-items: center;
}

#name {
    width: 33.3%;
    display: flex;
    justify-content: flex-start;
}

#navigation {
    width: 33.3%;
    display: flex;
    justify-content: center;
}

#user {
    width: 33.3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#totalProducts {
    color: #ff0000;
}

#main {
    background: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#content {
    width: 73%;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#emptyCart {
    text-align: center;
}

#footer {
    background: #9fc3ff;
}

body {
    background: #eff5fe;
    font-family: sans-serif;
}

form {
    margin: 20px;
}

table {
    border: 1px solid black;
}

th {
    padding: 1em;
}

td {
    padding: 1em;
}

a {
    text-decoration: none;
}

button {
    all: unset;
    background: #73d269;
    color: white;
    padding: 0.5em 2em;
    cursor: pointer;
}

.addButton {
    background: #73d269;
    color: white;
    padding: 0.5em 2em;
    margin: 20px 10px 10px;
}

.deleteButton {
    color: red;
    margin: 0 10px;
}

.headerButton {
    color: white;
    margin: 0 10px;
}

.catalogButton {
    color: #9fc3ff;
}

.imgButton {
    margin: 0 10px;
}

.editButton {
    color: blue;
    margin: 0 10px;
}

.product-item {
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 300px;
    background: #fdfde7;
    border: 1px solid #e1e1e1;
}

.product-item img {
    width: 300px;
    height: 300px;
}